body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.6rem;
  color: #e50914;
  text-shadow: 2px 2px 4px #000;
  margin-top: 40px;
}


.chart {
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.6);
  margin: 30px auto;
}

pre {
  text-align: left;
  background: #1e1e1e;
  padding: 20px;
  border-left: 6px solid #e50914;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  overflow-x: auto;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;
}

.back-btn {
  display: inline-block;
  margin: 40px auto;
  background-color: #e50914;
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;
}

.back-btn:hover {
  background-color: #b0060e;
  transform: scale(1.05);
}

footer {
  margin: 40px 0 20px;
  font-size: 14px;
  color: #aaa;
}
